<!-- contact.html -->
{% extends 'base.html' %} {% block content %}
<div class="inner-banner">
  <section class="w3l-breadcrumb py-5">
    <div class="container py-lg-5 py-md-3">
      <h2 class="title">Contact Us</h2>
    </div>
  </section>
</div>
<!-- banner bottom shape -->
<div class="position-relative">
  <div class="shape overflow-hidden">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</div>
<!-- banner bottom shape -->
<!-- contacts -->
<section class="w3l-contact-7 py-5" id="contact">
  <div class="contacts-9 py-lg-5 py-md-4">
    <div class="container">
      <div class="top-map">
        <div class="row map-content-9">
          <div class="col-lg-8">
            <h3 class="title-big">Send us a Message</h3>
            <p class="mb-4 mt-lg-0 mt-2">
              Your email address will not be published. Required fields are
              marked *
            </p>
            <form
              action="https://sendmail.w3layouts.com/submitForm"
              method="post"
              class="text-right"
            >
              <div class="form-grid">
                <input
                  type="text"
                  name="w3lName"
                  id="w3lName"
                  placeholder="Name*"
                  required=""
                />
                <input
                  type="email"
                  name="w3lSender"
                  id="w3lSender"
                  placeholder="Email*"
                  required=""
                />
                <input
                  type="text"
                  name="w3lPhone"
                  id="w3lPhone"
                  placeholder="Phone number*"
                  required=""
                />
                <input
                  type="text"
                  name="w3lSubject"
                  id="w3lSubject"
                  placeholder="Subject"
                />
              </div>
              <textarea
                name="w3lMessage"
                id="w3lMessage"
                placeholder="Message"
              ></textarea>
              <button type="submit" class="btn btn-primary btn-style mt-3">
                Send Message
              </button>
            </form>
          </div>
          <div class="col-lg-4 cont-details">
            <address>
              <h5 class="">Contact Address</h5>
              <p>
                <span class="fa fa-map-marker"></span>167. V.O.C Nagar,
                K.N.Colony Post, Salem- 636014
              </p>
              <p>
                <a href="mailto:iqglobaltrust@gmail.com"
                  ><span class="fa fa-envelope"></span
                  >iqglobaltrust@gmail.com</a
                >
              </p>
              <p>
                <span class="fa fa-phone"></span
                ><a href="tel:+917904060790"> +917904060790</a>
              </p>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //contacts -->
<!-- <div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4281.44295738812!2d149.08481931314702!3d-35.352876503660944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b17b4b92c8baf7d%3A0x17a6b0ecb17483ed!2s46%20Colbee%20Ct%2C%20Phillip%20ACT%202606%2C%20Australia!5e0!3m2!1sen!2sin!4v1628703406997!5m2!1sen!2sin"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
  ></iframe>
</div> -->
{% endblock %}