<!-- services.html -->
{% extends 'base.html' %} {% block content %}
<section class="w3-services-ab py-5" id="mission">
  <div class="container py-lg-5 py-md-4">
    <h3 class="title-big text-center mb-5">Our Services</h3>
    <div class="w3-services-grids">
      <div class="fea-gd-vv row">
        {% for d in data %}
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
          <div class="float-mid feature-gd">
            <div class="icon">
              <img src="{{url_for('static',filename='assets/images/Services/' ~ d.loc )}}" alt="" class="img-fluid" />
            </div>
            <div class="icon-info">
              <h5>High Intensity Personal Activities.</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="w3l-clients py-5" id="clients">
  <div class="call-w3 py-lg-5 py-md-4">
    <div class="container">
      <h3 class="title-big text-center">Whom we work with</h3>
      <div class="company-logos text-center mt-5">
        <div class="row logos">
          <div class="col-lg-2 col-md-3 col-4">
            <img
              src="{{url_for('static',filename='assets/images/brand1.png')}}"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-lg-2 col-md-3 col-4">
            <img
              src="{{url_for('static',filename='assets/images/brand2.png')}}"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-lg-2 col-md-3 col-4">
            <img
              src="{{url_for('static',filename='assets/images/brand3.png')}}"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-lg-2 col-md-3 col-4 mt-md-0 mt-4">
            <img
              src="{{url_for('static',filename='assets/images/brand4.png')}}"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-lg-2 col-md-3 col-4 mt-lg-0 mt-4">
            <img
              src="{{url_for('static',filename='assets/images/brand5.png')}}"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-lg-2 col-md-3 col-4 mt-lg-0 mt-4">
            <img
              src="{{url_for('static',filename='assets/images/brand6.png')}}"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
